/* AppNavbar.css */

/* Navbar styles */
.navbar {
  background-color: #1a1a2e; /* Dark background for navbar */
}

.navbar .navbar-brand:hover {
  color: #ffb300; /* Brand name hover color */
}

/* Navigation links */
.navbar .nav-link {
  transition: color 0.3s ease; /* Smooth transition for color changes */
}

.navbar .nav-link:hover {
  color: #ffb300; /* Change color on hover */
}


/* Shopping cart icon styles */
.navbar .d-flex.align-items-center {
  color: white; /* Default color for shopping cart icon */
}

.navbar .d-flex.align-items-center:hover {
  color: #ffb300; /* Change color on hover for shopping cart */
}

.navbar .badge {
  background-color: #dc3545; /* Badge color */
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
  position: relative;
  top: -10px; /* Position it over the cart icon */
  left: -10px;
}
