  
  button.btn-outline-warning {
    transition: transform 0.3s ease;
  }
  
  .footer-social-icon {
    transition: transform 0.3s ease; /* Transition for scaling */
  }
  
  .footer-social-icon:hover {
    color: #ffd700;
    transform: scale(1.1); /* Slightly increase the size on hover */
  }
  